# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
env/
.venv/
ENV/

# PyCharm, VSCode, Sublime Text project files
.idea/
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/

# macOS
.DS_Store

# Windows
Thumbs.db

# Log files
*.log
